.categoryFormContainer {
  display: flex;
  flex: 1 1 auto;
}

.categoryBlock{
  display: flex;
  justify-content: flex-start;
  align-items:  flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

.blockSize {
  display: flex;
  justify-content: center;
  width: 250px;
  min-height: 350px;
  margin: 10px;
}

.pictureAndTextSize {
  width: 200px;
  height: 200px;
}

.withSale {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  color: rgb(226, 5, 5);
  text-align: center;
}

.sale {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: line-through;
  text-decoration-color: rgb(226, 5, 5);
  text-align: center;
}

.withoutSale {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  text-align: center;
}

.bottonSize {
  min-width: 150px;
  min-height: 150px;
}

.cursor {
  cursor: pointer;
}

.addNewCategory {
  display: flex;
  justify-content: center;
  align-items:  center;
  flex: 1 1 auto;
}

.newCategoriesSize {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 575px;
  background-color: #ffffff;
}

.priceOfProductSize {
  width: 100%;
  margin-bottom: 20px;
}

.blockProduct {
  position: relative;
 }

.blockProduct .editHover {
  display: none;
}

.blockProduct:hover .editHover {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
}

.heightNameAndPrice {
  height: 100px;
}

.textWrap {
  overflow-wrap: break-word;
}

.fileInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.fileBtnClose {
  margin-left: 5px;
  cursor: pointer;
}

.imagePreview {
  width: 45px;
}

@media screen and (max-width: 790px) {
  .categoryBlock{
    justify-content: space-evenly;
  }
}

