.userInfoFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

.innerUsersBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 575px;
  background-color: #ffffff;
  padding: 35px 50px;
}

.totalInfo {
  padding-bottom: 50px;
}

.totalInfoMargin {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.totalInfoMargin2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 575px) {
  .innerUsersBlock {
    padding: 25px 35px;
  }

  .totalInfo {
    padding-bottom: 30px;
  }

  .h3Size {
    font-size: 135%;
  }

  .h4Size {
    font-size: 125%;
  }

  .totalInfoMargin {
    margin-bottom: 0;
  }

  .lastMrg {
    margin-bottom: 10px;
  }
}