.menuFormContainer {
  display: flex;
  justify-content: flex-start;
}

.widthUlContener {
  width: 100%;
}

.menuBlock {
  display: flex;
  width: 250px;
  background-color: #fff;
  align-self: stretch;
}

li .hoverEdit {
  display: none;
}

li:hover .hoverEdit {
  display: block;
}

.cursor {
  cursor: pointer;
}

.sizeButton {
  width: 25px;
  height: 25px;
}

.sizeLi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  min-height: 65px;
}

.desktopView {
  display: block;
}

.mobileView {
  display: none;
}

@media screen and (max-width: 700px) {
  .desktopView {
    display: none;
  }

  .mobileView {
    display: initial;
  }
}