.tableFormContainer {
  display: flex;
  flex: 1 1 auto;
}

.tableBlock{
  display: flex;
  justify-content: center;
  align-items:  flex-start;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

.sizeBox {
  display: flex;
  flex-direction: column;
  max-width: 580px;
  padding: 25px 50px 50px;
  margin-top: 50px;
  background-color: #ffffff;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
}

th {
  text-align: center;
  padding: 5px 25px;
  border: 1px solid lightgray;
}

td {
  text-align: center;
  padding: 5px 25px;
  border: 1px solid lightgray;
}

caption {
  caption-side: top;
  text-align: center;
}

.sizeAddUser {
  width: 100px;
}

.addNewUser {
  display: flex;
  justify-content: center;
  align-items:  center;
  flex: 1 1 auto;
}

.newUserSize {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 575px;
  background-color: #ffffff;
}

.editUserMrg {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.sizeDivSelect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 475px;
}

.sizeSelect1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  max-width: 205px;
}

.sizeOption {
  max-width: 120px;
}

.cursor {
  cursor: pointer;
}

.quantityPageSelect {
  width: 65px;
}

.paginationBtn {
  display: flex;
  align-items: center;
  border: 1px solid #dee2e6;
  color: #000000;
  padding: 2px;
}

.brdPgn {
  padding: 0px 5px;
  border-right: 1px solid #dee2e6;
  border-left: 0px;
}

.PrevBrdRad {
  border-radius: 10% 0% 0% 10%;
}

.NextBrdRad {
  border-radius: 0% 10% 10% 0%;
  border-left: 0px;
}

@media screen and (max-width: 575px) {
  .sizeBox {
    max-width: 400px;
    padding: 25px 5px 25px;
  }

  .sizeAddUser {
    font-size: 70%;
  }

  .sizeTable {
    font-size: 0.55rem;
  }

  .selectSz {
    font-size: 60%;
  }

  .paginationBtn {
    display: flex;
    align-items: center;
    border: 1px solid #dee2e6;
    color: #000000;
  }

  .brdPgn {
    padding: 0px 5px;
    border-right: 1px solid #dee2e6;
    border-left: 0px;
  }

  .NextBrdRad {
    border-left: 0px;
  }

  .editUserMrg {
    margin-bottom: 0px;
  }

  .sizeDivSelect {
    margin-top: 10px;
  }
}

@media screen and (max-width: 400px) {
  .sizeBox {
    max-width: 320px;
    padding: 25px 5px 25px;
  }

  .sizeAddUser {
    font-size: 50%;
  }

  th {
    padding: 5px 15px;
  }

  td {
    padding: 5px 15px;
  }

  .selectSz {
    font-size: 50%;
  }

  .editUserMrg {
    margin-bottom: 0px;
  }

  .sizeDivSelect {
    margin-top: 10px;
  }
}