.loginFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.innerLoginBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 575px;
}