.innerHeadersBlock {
  display: flex;
  width: 100%;
  min-height: 50px;
  justify-content: center;
  margin: 0 20px;
}

.dataBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 575px;
}

.linkBtn {
  margin-right: 10px;
}

@media screen and (max-width: 450px) {
  .linkBtn {
    font-size: .75rem;
  }

  .btnSize {
    font-size: .75rem;
  }
}

@media screen and (max-width: 370px) {
  .linkBtn {
    font-size: .58rem;
  }

  .btnSize {
    font-size: .58rem;
  }
}